<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <p>Contact Us</p>
                <ul class="list-unstyled">
                    <li>Email: fetik228zxc@gmail.com</li>
                    <li>Telegram: <a href="https://t.me/norfitspire">CLICK</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>